<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static%}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{%static "diary/bootstrap/css/bootstrap.min.css"%}' crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'diary/css/style.css'%}">
    <title>Hello, world!</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Diary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <div class="left-nav-items nav-items-div">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </div>
            <div class="right-nav-items nav-items-div">
              {%if request.user.is_authenticated %}
                
              <li class="nav-item">
                <a class="nav-link">{{request.user.username}}</a>
              </li>
                
              <li class="nav-item">
                <a href='/logout/' class="nav-link">Logout</a>
              </li>

              {%else%}
              <li class="nav-item">
                <a href='/login/' class="nav-link">Login</a>
              </li>

              <li class="nav-item">
                <a href='/signup/' class="nav-link">Signup</a>
              </li>


              {%endif%}
            </div>
          </ul>
        </div>
      </nav>

      <div class="messages">
        {%if messages%}
          {%for message in messages%}
            <div class="alert alert-{%if message.tags%}{{message.tags}}{%endif%}">{{message}}</div>
          {%endfor%}
        {%endif%}
      </div>
      {%block body%}

      {%endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src='{%static "diary/bootstrap/js/bootstrap.min.js"%}' crossorigin="anonymous"></script>
      
    {%block script%}
    <script>      
      // changing color of elements of id startWith "error"
     
      $("[id^='error_']").css({color:'red',fontWeight:100});
    
    </script>
    {%endblock%}
  
  </body>

</html>